p{
  margin: 0;
  padding: 0;
}
.container{
  font-family: arial;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 30px;
}

.follow-button-container{
  position: relative;
}

.follow-button-container .tooltip{
  font-size: 14px;
  background-color: gray;
  color: white;
  position: absolute;
  padding: 4px 8px;
  left: 15px;
  border-radius: 2px;
  margin: 0;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.follow-button-container:hover .tooltip,
.join-button-container:hover .tooltip,
.messanger-button-container:hover .tooltip{
  opacity: 1;
}

.follow-button{
  background-color: blue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.join-button-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.join-button{
  border: 1px solid blue;
  color: rgb(6, 95, 212);
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.join-button-container .tooltip{
  font-size: 14px;
  background-color: gray;
  color: white;
  position: absolute;
  padding: 4px 8px;
  border-radius: 2px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.messanger-button-container{
  position: relative;
}

.messanger-icon{
  height: 35px;
  width: 35px;
  object-fit: cover;
  position: relative;
}

.messanger-button-container .tooltip{
  font-size: 14px;
  background-color: rgb(253, 241, 230);
  border: 1px solid black;
  color: black;
  position: absolute;
  padding: 4px 8px;
  left: 15px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.messanger-notification-container .notification{
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  color: white;
  right: -3px;
  background-color: rgb(255, 38, 0);
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.notification-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.notification-container{
  position: relative;
  display: inline-block;
}

.notification-container .notification{
  font-size: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  color: white;
  right: 5px;
  background-color: rgb(255, 38, 0);
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.notification-button-container{
  position: relative;
}

.notification-button-container .tooltip{
  position: absolute;
  background-color: darkgray;
  color: white;
  font-size: 14px;
  padding: 3px 5px;
  bottom: -45px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.notification-button-container:hover .tooltip{
  opacity: 1;
}

.game-button-container{
  font-family: arial;
  font-size: 12px;
  height: 100px;
  width: 100px;
  justify-content: end;
  position: relative;
}

.console-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-button-container .tooltip{
  position: absolute;
  background-color: rgb(33, 33, 33);
  color: rgb(182, 182, 182);
  bottom: -35px;
  right: -20px;
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(148, 148, 148);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.game-button-container:hover .tooltip{
  opacity: 1;
}